<%= link_to "Photos of #{@pet.name}", user_pets_photos_path(@user) %>
<p>
  Avatar:
  <%= image_tag @pet.avatar.url(:thumb) %>
</p>
<p>
  Name:
  <%= @pet.name %>
</p>

<p>
  Description:
  <%= @pet.description %>
</p>

<p>
  Status:
  <%= pet_status(@pet.status) %>
</p>

<p>
  Type:
  <%= pet_type(@pet.animal_type) %>
</p>

<p>
  Race:
  <%= @pet.race %>
</p>

<% if current_user == @user %>
  <%= link_to "Edit #{@pet.name}'s profile", edit_user_pets_path(@user) %> |
  <% if @pet.deleted? %>
    <%= link_to "Recover #{@pet.name}", recover_user_pets_path(@user), method: :post %> |
  <% else %>
    <%= link_to "Hide #{@pet.name}", hide_user_pets_path(@user), { confirm: "Are you sure?", method: :delete } %> |
  <% end %>
  <%= link_to "Delete #{@pet.name}", user_pets_path(@user), { confirm: "Are you sure? (This will DELETE #{@pet.name})", method: :delete } %>
<% end %>


