<div class="hmenu">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if user_signed_in? %>
      <div class="sign_in">
        <li>Logged in as: <%= current_user.email %>,<%=current_user.name%> <span>end de li</span></li>
        |
        <li> <%= link_to('Edit', edit_user_registration_path) %> </li>
        |
        <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </div>
    <% else %>
      <div class="sign_in">
        <li><%= link_to 'Register', new_user_registration_path %></li>
        |
        <li> <%= link_to('Login', new_user_session_path)  %></li>
        |
        <li><%= link_to image_tag('facebook_32.png'), user_omniauth_authorize_path(:facebook) %></li>
      </div>
    <% end %>
  </ul>
</div>
